<h1>Manage the trombi - Edit an existing person</h1>

<div id="commands">
<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
</div>

<% form_for @person, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </p>
  <p>
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </p>
  <p>
    <%= f.label :skype_id %><br />
    <%= f.text_field :skype_id %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.file_field :image_file %><br /> or URL: <%= f.text_field :image_file_url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>