<h1><%= I18n.t('views.users.edit.title') %></h1>

<div id="commands">
<%= link_to I18n.t('g.show'), @user %> |
<%= link_to I18n.t('g.back'), users_path %>
</div>

<% form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend><%= I18n.t('views.users.edit.change_details') %></legend>
  
  <p>
  <%= f.label I18n.t('g.username') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label I18n.t('g.password') %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label I18n.t('g.password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label I18n.t('g.level') %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label I18n.t('g.default_language') %><br />
    <%= f.text_field :default_language %>
  </p>
  <p>
    <%= f.submit I18n.t('views.users.edit.change_user') %>
  </p>
  
  </fieldset>
  
<% end %>

