<h1><%= I18n.t('views.trombi.index.title') %></h1>

<div id="commands">

</div>

<div id="lottery">
	<h4><%= I18n.t('views.trombi.index.lottery') %></h4>
	<%= image_tag @lottery_winner.avatar.url %><br />
	<%= @lottery_winner.first_name + " " + @lottery_winner.last_name %> 
</div>

	
<h3><%= I18n.t('views.trombi.index.last-people') %></h3>

<div id="last-three" class="person-list">
	
	<table>
	<% @last_three.each do |person| %>
	  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	    <td><%= image_tag person.avatar.url, :style => "height:80px;" %></td>
	    <td><%= person.first_name %></td>
	    <td><%= person.last_name %></td>
	    <td class="list-actions"><%= link_to I18n.t('views.trombi.list.more_details'), :action => "show_details", :id => person %></td>
	  </tr>
	<% end %>
	</table>

</div>
