<div id="commands">
<%= link_to I18n.t('g.back'), :action => "list" %>
</div>

<div  id="id-picture">
	<%= image_tag @person.avatar.url %>
</div>

<div id="id-information">
<p>
  <b><%= I18n.t('g.first_name') %>:</b>
  <%= @person.first_name %> 
</p>

<p>
  <b><%= I18n.t('g.last_name') %>:</b>
  <%= @person.last_name %>
</p>

<p>
  <b><%= I18n.t('g.email') %>:</b>
  <%= auto_link_email_addresses(@person.email).html_safe %>
</p>

<p>
  <b><%= I18n.t('g.phone1') %>:</b>
  <%= @person.phone1 %>
</p>

<p>
  <b><%= I18n.t('g.phone2') %>:</b>
  <%= @person.phone2 %>
</p>

<p>
  <b><%= I18n.t('g.skype_id') %>:</b>
  <%= @person.skype_id %>
</p>

<p>
  <b><%= I18n.t('g.nationality') %>:</b>
  <%= @person.nationality %>
</p>

<p>
  <b><%= I18n.t('g.address') %>:</b>
  <%= simple_format(@person.address) %>
</p>

<p>
  <b><%= I18n.t('g.other') %>:</b>
  <%= simple_format(@person.other) %>
</p>

</div>

