<div id="commands">
<%= link_to 'Back', :action => "list" %>
</div>

<div  id="id-picture">
	<%= image_tag person_path(@person, :jpg) %>
</div>

<div id="id-information">
<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= auto_link_email_addresses @person.email %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @person.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @person.phone2 %>
</p>

<p>
  <b>Skype:</b>
  <%=h @person.skype_id %>
</p>

<p>
  <b>Address:</b>
  <%=h @person.address %>
</p>

</div>

